@import ../../../../variables/variables


@each $name, $theme-color in $theme-colors
    $theme-gradient-color: map-get($theme-gradient-colors, $name)
    ._container__#{$name}
        width: 300px
        background: $white-color
        flex-direction: column
        border: 1px solid get-color-level($theme-color, 5)
        border-radius: 10px
        transition: 0.2s
        height: fit-content
        position: relative

        @media ( max-width: 1000px )
            position: fixed
            top: 0
            left: 0
            width: 100vw
            height: 100vh
            z-index: 1000
            border: none
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
            padding: 0 10px

        @media ( max-width: 350px )
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))

        ._top
            justify-content: flex-end
            align-items: center
            height: 55px

        ._bottom
            justify-content: space-between
            align-items: center
            height: 60px
            
        ._center
            width: 100%
            height: calc( 100% - 115px )
            flex-direction: column
            gap: 40px
            display: grid
            overflow-y: scroll
            h4
                font-size: 17px
                font-weight: 500
                text-transform: uppercase

            ._filter__image
                flex-direction: column
                row-gap: 20px            
                ul
                    width: 100%
                    flex-wrap: wrap
                    gap: 15px

                    li
                        cursor: pointer
                        position: relative
                        border-radius: 5px
                        overflow: hidden
                        @media ( max-width: 650px )
                            width: calc( (100% / 3) - 10px )
                        @media ( max-width: 350px )
                            width: calc( 50% - 7.5px )

                        img
                            
                            width: 121px
                            height: 121px
                            @media ( max-width: 650px )
                                width: 100%
                                height: fit-content
                            

                        span, ._active
                            position: absolute
                            width: calc( 100% - 6px )
                            height: 27px
                            bottom: 3px
                            left: 3px
                            background: transparent
                            font-size: 13px
                            font-weight: 400
                            text-transform: capitalize
                            justify-content: center
                            align-items: center
                            color: $white-color
                            backdrop-filter: blur(2.5px)
                            transition: 0.1s
                            border-radius: 5px

                        ._active
                            background: $theme-color
                            font-weight: 500

            ._filter__check
                flex-direction: column
                row-gap: 20px           
                ul
                    width: 100%
                    flex-wrap: wrap
                    gap: 15px

                    li, ._active
                        cursor: pointer
                        position: relative
                        overflow: hidden
                        font-size: 13.5px
                        padding: 9px 16px
                        border-radius: 30px
                        color: $black-color
                        background: $white-color
                        box-shadow: 0px 1px 1.5px 0 get-color-level($theme-color, 10)
                        justify-content: center
                        align-items: center
                        column-gap: 5px
                        transition: 0.1s

                    ._active
                        color: $white-color
                        background: $theme-gradient-color
                        box-shadow: 0px 1px 1.5px 0 get-color-level($theme-color, 30)

            ._filter__color
                flex-direction: column
                row-gap: 20px           
                ul
                    width: 100%
                    flex-wrap: wrap
                    gap: 15px

                    li, ._active
                        cursor: pointer
                        position: relative
                        overflow: hidden
                        width: 35px
                        height: 35px
                        border-radius: 50%
                        transition: 0.05s

                        span
                            width: 100%
                            height: 100%
                            border-radius: 50%
                            box-shadow: 0 0 1.5px 0 get-color-level($theme-color, 30)

                    ._active
                        padding: 2px
                        border: 2px dashed $theme-color