@import ../../../../variables/variables


@each $name, $theme-color in $theme-colors
    $theme-gradient-color: map-get($theme-gradient-colors, $name)
    ._container__#{$name}
        width: 100%

        ul
            width: 100%
            display: grid
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr))
            gap: 30px

            @media ( max-width: 550px )
                column-gap: 10px
                row-gap: 30px

                li a h4
                    font-size: 13px !important

            li
                justify-content: center
                align-items: center
                a
                    flex-direction: column
                    align-items: center
                    row-gap: 10px

                    &:hover
                        h4
                            color: $theme-color

                    img
                        box-shadow: 0 0 3px 0 get-color-level($theme-color, 10)
                        border-radius: 5px
                        width: 120px
                        height: 120px

                    h4
                        font-size: 14.5px
                        font-weight: 500
                        text-transform: capitalize
                        transition: 0.2s



