@import ../../../../variables/variables


@each $name, $theme-color in $theme-colors
    $theme-gradient-color: map-get($theme-gradient-colors, $name)
    ._container__#{$name}
        width: 100%
        height: fit-content
        background: $white-color
        border: 1px solid get-color-level($theme-color, 5)
        padding: 20px
        border-radius: 10px
        display: grid
        gap: 40px
        @media ( max-width: 1000px )
            border: none
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
        @media ( max-width: 350px )
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))
            padding: 10px
            
        h4
            font-size: 17px
            font-weight: 500
            text-transform: uppercase

        ._buttons
            justify-content: space-between
            align-items: center
            grid-column: 1 / -1

        ._filter__image
            flex-direction: column
            row-gap: 20px            
            ul
                width: 100%
                flex-wrap: wrap
                gap: 15px

                li
                    cursor: pointer
                    position: relative
                    border-radius: 5px
                    overflow: hidden
                    @media ( max-width: 650px )
                        width: calc( (100% / 3) - 10px )
                    @media ( max-width: 350px )
                        width: calc( 50% - 7.5px )

                    img
                        
                        width: 121px
                        height: 121px
                        @media ( max-width: 650px )
                            width: 100%
                            height: fit-content
                        

                    span, ._active
                        position: absolute
                        width: calc( 100% - 6px )
                        height: 27px
                        bottom: 3px
                        left: 3px
                        background: transparent
                        font-size: 13px
                        font-weight: 400
                        text-transform: capitalize
                        justify-content: center
                        align-items: center
                        color: $white-color
                        backdrop-filter: blur(2.5px)
                        transition: 0.2s
                        border-radius: 5px

                    ._active
                        background: $theme-color
                        font-weight: 500

        ._filter__check
            flex-direction: column
            row-gap: 20px           
            ul
                width: 100%
                flex-wrap: wrap
                gap: 15px

                li, ._active
                    cursor: pointer
                    position: relative
                    overflow: hidden
                    font-size: 13.5px
                    padding: 9px 16px
                    border-radius: 5px
                    color: $black-color
                    background: $white-color
                    box-shadow: 0 0 1px 0 get-color-level($theme-color, 40)
                    justify-content: center
                    align-items: center
                    column-gap: 5px
                    transition: 0.1s

                ._active
                    color: $white-color
                    background: $theme-gradient-color
                    box-shadow: 0 0 5px 0 get-color-level($theme-color, 30)