@import ../../variables/variables

._container
    width: 100vw
    padding: 40px
    height: fit-content
    display: grid
    grid-template-columns: 2fr 8fr
    background: get-color-level($main-color, 5)
    gap: 20px
    position: relative

    @media ( max-width: 1000px )
        grid-template-columns: 1fr

        ._filter
            position: fixed
            width: 100%
            height: 100%
            top: 0
            right: 100%
            z-index: 100
            overflow-y: scroll

            &::-webkit-scrollbar
                width: 0
                height: 0

    @media ( max-width: 500px )
        padding: 20px 10px

    ._filter
        box-shadow: $main-boxshadow
        background: $white-color
        padding: 20px
        border-radius: 5px
        transition: 0.3s

        ._hidden__filter
            position: absolute
            top: 10px
            right: 10px
            z-index: 101
            font-size: 35px
            color: $main-color
            cursor: pointer
            display: none

            @media ( max-width: 1000px )
                display: flex

    ._grid
        flex-direction: column
        row-gap: 15px

        ._tool
            width: 100%
            justify-content: space-between

            ._tool__right
                align-items: center
                column-gap: 10px

                ._show__filter
                    display: none
                    @media ( max-width: 1000px )
                        display: flex