@import ../../variables/variables

@each $name, $theme-color in $theme-colors
    $theme-gradient-color: map-get($theme-gradient-colors, $name)
    ._container__#{$name}
        width: 100%
        height: fit-content
        background: get-color-level($theme-color, 3)
        padding: 50px
        row-gap: 50px
        flex-direction: column

        @media ( max-width: 650px )
            padding: 50px 10px

        ._categories, ._brands, ._products
            flex-direction: column
            row-gap: 30px
            
            h2
                font-size: 20px
                font-weight: 500
                text-transform: uppercase

        ._products
            
            ._content
                width: 100%
                column-gap: 20px

                ._filter
                    width: 300px
                    flex-direction: column
                    background: $white-color
                    border: 1px solid get-color-level($theme-color, 5)
                    border-radius: 10px
                    height: fit-content
                    transition: 0.2s
                    @media ( max-width: 1000px )
                        position: fixed
                        top: 0
                        left: -100%
                        width: 100vw
                        height: 100vh
                        z-index: 1000
                        overflow-y: scroll

                ._grid
                    width: calc( 100% - 320px )
                    flex-direction: column
                    row-gap: 20px

                    ._tool
                        width: 100%
                        justify-content: space-between
                        align-items: center
                        @media ( max-width: 1000px )
                            


                    @media ( max-width: 1000px )
                        width: 100%